.App {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.App h1 {
  font-size: 64px;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
}
.board {
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
}
.box {
  margin: 0.5px;
  display: flex;
  border: 4px solid rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: 700;
}
.opacity {
  opacity: 0.1;
}
.winner {
  position: fixed;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}
.win {
  display: flex;
  flex-direction: column;
}
q {
  font-size: 10px;
}
